
/* flex関連 */

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

/* カード関連 */

.card {
  flex-basis: 80%;
  min-width: 0;
  max-width: 700px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin: 20px;
  padding: 5px 0;
}
@media screen and (min-width:480px) {
  .card {
    flex-basis: 45%;
    min-width: 400px;
  }
}

.cardImg {
  padding: 0 5%;
  width: 90%;
  height: auto;
}
.cardContent {
  padding: 20px;
  border-top: 1px solid #eee;
}
.cardBorder {
  border-top: 1px solid #eee;
  margin: 10px;
}
.cardTitle {
  font-size: 20px;
  margin-top: auto;
  text-align: center;
  color: #333;
}
.cardSubTitle {
  font-size: 16px;
  margin-top: auto;
  text-align: center;
  color: #333;
}
.cardText {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 20px;
}
.cardSubText {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 20px;
  text-align: center;
}
.cardLink {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.cardLink a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.cardLink a:hover {
  color: #0090aa;
}
